RewriteEngine On

# Redirect root URL to index.html
RewriteRule ^$ /index.html [L]

# Redirect /markdown to index.html?convertTo=markdown
RewriteRule ^markdown$ /index.html?convertTo=markdown [L]

# Redirect /html to index.html?convertTo=html
RewriteRule ^html$ /index.html?convertTo=html [L]

# Redirect /plaintext to index.html?convertTo=plaintext
RewriteRule ^plaintext$ /index.html?convertTo=plaintext [L]